Paperless:
  InstanceURL: http://192.168.178.48:8000/
  InstanceToken: 9d02951f3716e098b
  ProcessedTagName: DatevSent
  AddQueueTagName: SendToDatev
  Rules:
    - Name: "OneDemoRule"
      Tags: #The Doc must hold all three tags 
        - Seaside Docs
        - Invoices
        - Foobar
      ReceiverAddresses:
        - you@get.it
        - anotherone@super.de
    - Name: "TwoDemoRule"
      Tags: # You can create mutiple rules for a Tag combination to send the doc to different receivers
        - OfflineDocs
      Correspondent: Firma  #If you use Correspondent or Type - Tags, Correspondent and Type has to match 
      Type: "Invoice"
      ReceiverAddresses:
        - dont@get.it
      BCCAddresses:
        - bcc@issupported.com
      #If Header and/or Body are set, the base Mail.Body and/or Mail.Header will be overwritten.
      MailBody: "Custom SuperBody %first_name%"
      MailHeader: "Custom Header for %document_id%"
Email:
  SMTPAddress: bla@foo.bar
  SMTPServer: mail.com
  SMTPPort: 587
  SMTPConnectionType: starttls
  SMTPUser: bla@foo.bar
  SMTPPassword: fQsdfsdfs
  MailBody: "You got a file ...with some values %user_id%, %user_name%, %user_email%, %first_name%, %last_name%, %correspondent_name%, %document_id%, %document_url%, %document_type_id%, %document_type_name%, %document_title%, %storage_path%, %storage_path_id%, %storage_path_name%, %document_file_name%, %document_created_at%, %document_modified_at%"
  MailHeader: "You got a file - %document_file_name%"
RunEveryXMinute: 1